body, ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 100%;
}

@media (max-width: 1080px) and (max-height: 2400px) {
    body {
        font-size: 16px;
    }
    
    header {
        padding: 10px;
    }

    nav ul li {
        margin-right: 10px;
    }
    
    .button-container {
        flex-direction: row;
        align-items: center;
    }
}
